@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Add this to the bottom of your globals.css */
.moon-mask {
  mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0) 70%);
  -webkit-mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0) 70%);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
}

.no-box {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}